@font-face {
  font-family: 'LeeSeoyun';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.sprite {
  width: 660px;
  height: 377px;
  overflow: hidden;
  position: relative;
}

.sprite_img {
  width: 11220px;
  height: 377px;
  background-image: url(img/spritesheet.png);
  position: absolute;
  left: 0;
  top: 0;
}

.sprite_img2 {
  width: 6600px;
  height: 377px;
  background-image: url(img/spritesheet2.png);
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
}

.ani {
  animation: 1s steps(17) infinite slap;
}

.ani2 {
  animation: 1s steps(10) infinite slap2;
}

@keyframes slap {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-11220px);
  }
}

@keyframes slap2 {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-6600px);
  }
}

.thermometer {
  position: relative;
  width: 150px;
  height: 500px;
}

.red {
  position: absolute;
  width: 30px;
  height: 100px;
  background-color: #b22323;
  bottom: 40px;
  left: 60px;
  transition: height 0.5s;
}

.temperature {
  position: absolute;
  width: 150px;
  height: 475px;
  bottom: 0;
  background-image: url(img/thermometer.png);
  background-size: contain;
}

.thermometer > p {
  margin: 0;
  text-align: center;
  font-family: 'LeeSeoyun';
  text-indent: 1px;
}

.button_container button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.up-click {
  width: 120px;
  height: 45px;
  background-image: url(img/slap-me.png);
  background-size: contain;
}

.up-click:hover {
  background-image: url(img/slap-me_hover.png);
}

.down-click {
  width: 135px;
  height: 45px;
  background-image: url(img/water-me.png);
  background-size: contain;
}

.down-click:hover {
  background-image: url(img/water-me_hover.png);
}

.reset {
  width: 96px;
  height: 45px;
  background-image: url(img/reset.png);
  background-size: contain;
}

.reset:hover {
  background-image: url(img/reset_hover.png);
}

@media (max-width: 400px) {
  body {
    zoom: 0.35;
  }
}

@media (min-width: 410px) and (max-width: 600px) {
  body {
    zoom: 0.5;
  }
}

@media (min-width: 610px) and (max-width: 1200px) {
  body {
    zoom: 0.8;
  }
}
